<%- include ('./partials/header.ejs')%>
<div class="container">
    <div class="alert">
        <h4 class="text-center">Create a New Account</h4>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="" method ="POST">
                <div class="field my-4">
                    <label for="" class="form-label">name</label>
                    <input type="text" class ="form-control" placeholder="enter your name bro">
                </div>

                <div class="field my-4">
                    <label for="" class="form-label">city</label>
                    <input type="text" class ="form-control" placeholder="enter your city?">
                </div>
                
                <div class="field my-4">
                    <label for="" class="form-label">email</label>
                    <input type="text" class ="form-control" placeholder="enter email">
                </div>

                <div class="field my-4">
                    <label for="" class="form-label">contact</label>
                    <input type="text" class ="form-control" placeholder="enter your Phone number">
                </div>

                <input type="submit" value="create" class="btn btn-warning">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<%- include ('./partials/footer.ejs')%>