<%- include ('./base/header.ejs')%>


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="">
                <div class="field my-4">
                    <label for="" class="form-label">name</label>
                    <input type="text" class ="form-control" placeholder="enter your name bro">
                </div>

                <div class="field my-4">
                    <label for="" class="form-label">city</label>
                    <input type="text" class ="form-control" placeholder="enter your city?">
                </div>
                
                <div class="field my-4">
                    <label for="" class="form-label">email</label>
                    <input type="text" class ="form-control" placeholder="enter email">
                </div>

                <div class="field my-4">
                    <label for="" class="form-label">Contact</label>
                    <input type="text" class ="form-control" placeholder="enter your Phone number">
                </div>

                <input type="submit" value="create" class="btn btn-warning">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<%- include ('./base/footer.ejs')%>